<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="index.html"><img src="~/index_files/logo.png" alt=""></a>
                    </div>
                    <p>Address : Nhà của Nghiên </p>
                    <p>0368888315</p>
                </div>
            </div>
        </div>
    </div>
</footer>
