<!DOCTYPE html>
<!-- saved from url=(0034)index.html -->
<html lang="zxx"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/index_files/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/index_files/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/index_files/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/index_files/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/index_files/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/index_files/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/index_files/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/index_files/style.css" type="text/css">
</head>

<body class="over_hid">
    <!-- Page Preloder -->
    <div id="preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>

    <!-- Header Section Begin -->
    <partial name ="Header"/>

    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <main>
        @RenderBody()
    </main>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <partial name ="Footer"/>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="~/index_files/jquery-3.3.1.min.js.tải xuống"></script>
    <script src="~/index_files/bootstrap.min.js.tải xuống"></script>
    <script src="~/index_files/jquery.nice-select.min.js.tải xuống"></script>
    <script src="~/index_files/jquery-ui.min.js.tải xuống"></script>
    <script src="~/index_files/jquery.slicknav.js.tải xuống"></script>
    <script src="~/index_files/mixitup.min.js.tải xuống"></script>
    <script src="~/index_files/owl.carousel.min.js.tải xuống"></script>
    <script src="~/index_files/main.js.tải xuống"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts",required:false);
</body></html>